/*https://google-webfonts-helper.herokuapp.com/fonts/nunito-sans?subsets=latin*/
/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../fonts/nunito-sans-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*GENERAL WRAP-UPS*/

body {
    /*font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
    font-family: "Nunito Sans";
    position: absolute;
    /*inset: 0px;*/
    /*display: flex;*/
    -moz-box-pack: center;
    justify-content: center;
    /*-moz-box-align: center;*/
    /*align-items: center;*/
    /*background-color: rgb(250, 249, 248);*/
    background-color: rgb(30, 39, 43);
    color: rgb(242, 244, 246);
    /*font-weight: normal;*/
    width: 780px;
}
nav {
    font-family: "Nunito Sans";
    /*margin-bottom: 5px;*/
    /*color: #F6F6F6;*/
    position: fixed;
    width: 100%;
    height: 35px;
    opacity: 1;
    /*background-color: transparent;*/
    display: flex;
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(61, 75, 81);
    top: 0;
    background: rgb(30, 39, 43);
    z-index: 1000;
    padding: 0px 12px;
}

header {
    border-radius: 0px;
    color: rgb(183, 195, 199);
    box-shadow: none;
    font-weight: 700;
    /*display: flex;*/
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    /*flex: 1 1 0%;*/
    /*-moz-box-pack: center;*/
    border: 0px solid rgb(61,75,81);
    position: fixed;
    width: 100%;
    height: 65px;
    top: 36px;
    background-color: rgb(30, 39, 43);
    /*background: rgb(30, 39, 43);*/
    padding: 0px 12px;
    padding-top: 5px;
    z-index: 1000;
}

section{
    /*float: left;*/
    margin-left: 20px;
    /*margin-top: 65px;*/
    /*height: 875px;*/
    /*width: 100%;*/
    /*!*position: absolute;*!*/
    /*display: flex;*/
}

hr{
    width: 100%;
    position: absolute;
    top: 50px;
    margin-bottom: 0;
}

label{
    display: inline-block;
    font-size: 13px;
}


h1{
    /*font-family: "Montserrat", Arial, sans-serif;*/
    /* color: black; */
    font-weight: normal;
    margin: 10px;
    float: left;
}
text{
    font-weight: normal;
}

.navbar {
    font-size: 14px;
    font-weight: 600;
    color: rgb(242, 244, 246);
    padding: 14px 20px;
    /*text-decoration: none;*/
    text-align: center;
    /*margin-left: 12px;*/
    /*margin-right: 10px;*/
    /*color: rgb(52, 36, 252);*/
    /*border-top: 2px solid transparent;*/
    /*border-bottom: 2px solid transparent;*/
    /*margin-bottom: -1px;*/
    /*display: flex;*/
    /*-moz-box-align: center;*/
    /*align-items: center;*/
    /*-moz-box-pack: center;*/
    /*justify-content: center;*/
    /*height: 100%;*/
}
.navbar:hover {
    color: rgb(52, 36, 252);
    background-color: rgb(242, 244, 246);
}

/*SVG*/
.left-align{
    float:left;
    width: 49%;
    overflow: auto;
    border-right: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
}
.scrollBox {
    width: 100%;
    overflow: auto;
    cursor: default;
}

/*PLAYER INFORMATION*/
#clickProf {
    /*flex: 1;*/
    position: absolute;
    margin-top: 75px;
    margin-left: 5px;
}

#clickProf img {
    height: 150px;
    width: auto;
    border: 2px solid gray;
}

/*LOGOS*/
.select_style {
    display: inline-block;
    width: 49%;
}


.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: rgb(242,244,246);
    -moz-box-flex: 1;
    flex-grow: 0.05;
}


/*GRAPH LABELS*/
.domain {
    display: none;
}
/*.yAxis {*/
/*    font-family: sans-serif;*/
/*    font-weight: bold;*/
/*}*/
.xAxis {
    font-family: sans-serif;
    font-weight: bold;
    /*fill: aliceblue;*/
    fill: rgb(149, 164, 170);
}
.positionLabel {
    border: none;
    fill: black;
    font-size: 12px;
}
.domain {
    display: none;
}

/*PREVIEW*/
text {
    pointer-events: none;
}
.previewWrap {
    position:absolute;
    border: 1px solid #555;
    background:#333;
    padding:5px;
//
display:none;
    color:#fff;
    box-shadow: 2px 1px 3px rgba(103, 115, 130, 1);
    opacity: 0.9;
    font-size: 13px;
}

/*CIRCLES*/
/*STATUS COLORS*/

circle{
    cursor:pointer;
    transition: all 0.4s ease;
}
.inactive{
    fill: #9A420F;
    opacity: 0.8;
}

.active {
    fill: #17E678;
    opacity: 0.8;

}
.sus {
    fill: #FFEB3B;
    opacity: 0.8;
}
.udf {
    fill: grey;
    opacity: 0.8;
}
.other_team {
    fill: #E6E617;
    opacity: 0.8;
}
.unknown {
    fill: gold;
    opacity: 0.8;
}

.one{
    fill: #9A420F;
    opacity: 0.5;
}

.two{
    fill: #E69A17;
    opacity: 0.8;
}

.three{
    fill: #E6E617;
    opacity: 0.8;
}

.four{
    fill: #12B35D;
    opacity: 0.8;
}

.five{
    fill: #17E678;
    opacity: 0.8;
}


.noinfo{fill: #878787;}



/*CLICK PROFILE*/
/*TABLE*/
table {
    /*width: 175px;*/
    /*height: 540px;*/
    border: 1px solid rgb(61, 75, 81);
    background: #262525;
    /* line-height: 1.2em; */
}

.heading {
    font-size: 15px;
    text-align: center;
    /*background: rgb(52, 36, 252);*/
    background: rgb(40, 29, 205);
    /*color: white;*/
    line-height: 25px;
    opacity: 0.9;
}

.infoHeading {
    font-size: 14px;
    text-align: center;
    /*    width: 40%;*/
}
.infoHeading td {
    font-size: 14px;
}
.nameCap {
    line-height: initial;
    /*font-size: 110%;*/
    /*font-weight: bold;*/
    padding: 0.2em;
}

/*
span{
        font-size: 10px;
    display: -webkit-box;
}
*/

.team-info span {
    font-size: 10px;
    position: absolute;
    margin-left: -70px;
    margin-top: 85px;
    width: 90px;
    overflow: hidden;
    cursor: default;
    text-align: center;
    color: rgb(149, 164, 170);
}

/* TEAMS PREVIEW*/
.team-info {
    width: 780px;
    margin: auto 0;
    display: flex;
    position: absolute;
    color: rgb(242, 244, 246);
    font-size: 16px;
    font-weight: 400;
}

.team-info circle {
    stroke-width: 1px;
}
#atlantic {
    margin-top: 100px;
}
#metropolitan {
    margin-top: 200px;
}
#central {
    margin-top: 300px;
}
#pacific {
    margin-top: 400px;
}


.teamDiv {
    height: 100px;
    cursor: pointer;
}

#selectedBorder {
    width: 700px;
    height: 510px;
}
#selectedBorder rect {
    fill: none;
    stroke: #fff689;
    /*stroke: rgb(52, 36, 252);*/
}

/* TEAM DETAILED VIEW */
.selectedSvg{
    margin-left: 5px;
    /*    width: 40%;*/
    transition: all 0.5s ease;
    color: rgb(149, 164, 170);
}
#SvgHolder {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /*position: absolute;*/
    /*margin-top: 520px;*/
    transition: all 0.8s ease;
    /*border-top: 1px solid rgb(61, 75, 81);*/
    padding-top: 0px;
    /*width: 780px;*/
}

.teamDiv svg{
    margin-right: -15px;

}

#instruction {
    margin-left: 65px;
    /* width: 390px; */
    /* float: right; */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*right: 30px;*/
    /*top: 30px;*/
    /*position: absolute;*/
    font-size: 13px;
    color: rgb(149, 164, 170);
    /*margin-top: 2%;*/
    width: 500px;
    /*margin-right: 10px;*/
    text-align: center;
}

#instruction.highlighted{
    /*color: #ffff7d;*/
    color: rgb(52, 36, 252);
    font-weight: 500;

}


.footer a{
    color: #3c7bca;
}

.text-muted{
    background: #3e3e3e;
    display: inline-block;
    padding: 5px;
    width: 100%;
    font-size: 12px;
}

#detail {
    display: flex;
    border-top: 1px solid rgb(61, 75, 81);
}

/*LOGOS*/
.teamTitle {
    margin-left: 65px;
    margin-top: 16px;
    width: 500px;
    /*margin-right: 10px;*/
    text-align: center;
    /*color: #ffff7d;*/
}

#teamLogo {
    width: 100px;
    margin-top: 120px;
    opacity: .9;
    /* margin: 0 auto; */
}
#teamName {
    font-size: 16px;
    /*
        margin-left: 25%;
        margin-top: -10%;
    */
}


/*LEGEND*/
#legend{
    /*float: left;*/
     position: absolute;
    /* left: 650px; */
    left: 80px;
    top: 25px;
    fill: rgb(183, 195, 199);
    font-size:13px;
    margin-left: 25px;
    color: rgb(183, 195, 199);
    font-weight: normal;
}
#filters{
    /*position: absolute;*/
    /*top: 20px;*/
    left: 300px;
    z-index: 10000;
    font-size: 12px;
}

#filters label {
    display: block;
}



.unselected{
    fill:#424343!important;
}


.draft{
    position: absolute;
    top: 80px;
    left: 15px;
    font-size: 10px;
    color: gray;
}

.round{
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 10px;
    color: gray;
}

.axis-info{
    border-left: 1px solid;
    border-top: 1px solid white;
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 8px;
    margin-left: 33px;
}

/*Help Tip*/
/*http://tutorialzine.com/2014/07/css-inline-help-tips/*/
.help-tip{
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    background-color: #777777;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 13px;
    line-height: 26px;
    cursor: default;
    z-index: 1000000;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#cecece;
    opacity: 0.8;
}

.help-tip:hover div {
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip div{	/* The tooltip */
    display: none;
    text-align: left;
    /*background-color: #494949;*/
    padding: 10px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    top: 100px;
    color: rgb(149, 164, 170);
    font-size: 13px;
    line-height: 1.4;
    background: #434343;
    border: 1px solid rgb(61, 75, 81);
    z-index: 100000;
}

.help-tip div:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color: #6c6c6c;
    right:10px;
    top:-12px;
}

.help-tip div:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

