/*https://google-webfonts-helper.herokuapp.com/fonts/nunito-sans?subsets=latin*/
/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../fonts/nunito-sans-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    /*font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
    font-family: "Nunito Sans";
    position: relative;
    -moz-box-pack: center;
    justify-content: center;
    /*-moz-box-align: center;*/
    /*align-items: center;*/
    background-color: rgb(30, 39, 43);
    color: rgb(149, 164, 170);
    font-size: 16px;
    font-weight: normal;
    width: 780px;
    white-space: nowrap;
}

nav {
    color: rgb(242, 244, 246);
    position: fixed;
    width: 100%;
    height: 60px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(61, 75, 81);
    top: 0;
    background: rgb(30, 39, 43);
    z-index: 1000;
    padding: 0px 12px;
    color: rgb(242, 244, 246);
}

header {
    border-radius: 0px;
    box-shadow: none;
    /*display: flex;*/
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    /*flex: 1 1 0%;*/
    /*-moz-box-pack: center;*/
    position: fixed;
    width: 100%;
    height: 80px;
    top: 61px;
    background-color: rgb(30, 39, 43);
    padding: 5px 12px;
    z-index: 900;
    border-bottom: 1px solid rgb(61, 75, 81);
}

section{
    margin-left: 20px;
    margin-top: 10px;
    /*display: flex;*/
}

section#previews {
    margin-top: 60px;
}

label{
    margin-left: 20px;
}

h1{
    text-transform: uppercase;
    color: rgb(242, 244, 246);
    font-size: 36px;
}

.navbar {
    font-size: 28px;
    font-weight: 600;
    padding: 14px 20px;
    /*text-decoration: none;*/
    text-align: center;
    margin-left: 6px;
    color: rgb(242, 244, 246);
    /*margin-right: 10px;*/
    /*border-top: 2px solid transparent;*/
    /*border-bottom: 2px solid transparent;*/
    /*margin-bottom: -1px;*/
    /*display: flex;*/
    /*-moz-box-align: center;*/
    /*align-items: center;*/
    /*-moz-box-pack: center;*/
    /*justify-content: center;*/
    /*height: 100%;*/
}

.navbar:hover {
    color: rgb(52, 36, 252);
    background-color: rgb(242, 244, 246);
}

text{
    font-weight: normal;
}

/*SVG*/
.left-align{
    float:left;
    width: 49%;
    overflow: auto;
    border-right: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
}
.scrollBox {
    width: 100%;
    overflow: auto;
    cursor: default;
}

/*PLAYER INFORMATION*/
#clickProf {
    /*flex: 1;*/
    position: absolute;
    margin-top: 75px;
    margin-left: 5px;
}

#clickProf img {
    height: 150px;
    width: auto;
    border: 2px solid gray;
}

/*LOGOS*/
.select_style {
    display: inline-block;
    width: 49%;
}

/*GRAPH LABELS*/
.domain {
    display: none;
}
.yAxis {
    color: rgb(242, 244, 246);
}

.xAxis {
    fill: rgb(242, 244, 246);
}

.positionLabel {
    border: none;
    fill: black;
    font-size: 12px;
}
.domain {
    display: none;
}

/*PREVIEW*/
text {
    pointer-events: none;
}
.previewWrap {
    position:absolute;
    border: 1px solid #555;
    background:#333;
    padding:5px;
//
display:none;
    color:#fff;
    box-shadow: 2px 1px 3px rgba(103, 115, 130, 1);
    opacity: 0.9;
    font-size: 13px;
}

/*CIRCLES*/
/*STATUS COLORS*/

circle{
    cursor:pointer;
    transition: all 0.4s ease;
}
.inactive{
    fill: #9A420F;
    opacity: 0.8;
}

.active {
    fill: #17E678;
    opacity: 0.8;

}
.sus {
    fill: #FFEB3B;
    opacity: 0.8;
}
.udf {
    fill: grey;
    opacity: 0.8;
}
.other_team {
    fill: #E6E617;
    opacity: 0.8;
}
.unknown {
    fill: gold;
    opacity: 0.8;
}

.one{
    fill: #9A420F;
    opacity: 0.5;
}

.two{
    fill: #E69A17;
    opacity: 0.8;
}

.three{
    fill: #E6E617;
    opacity: 0.8;
}

.four{
    fill: #12B35D;
    opacity: 0.8;
}

.five{
    fill: #17E678;
    opacity: 0.8;
}


.noinfo{fill: #878787;}

/*CLICK PROFILE*/
/*TABLE*/
table {
    /*width: 175px;*/
    border: 1px solid rgb(61, 75, 81);
    background: #262525;
    color: rgb(242, 244, 246);
}

.heading {
    font-size: 15px;
    text-align: center;
    background: rgb(40, 29, 205);
    line-height: 25px;
    opacity: 0.9;
}

.infoHeading {
    font-size: 14px;
    text-align: center;
    /*    width: 40%;*/
}
.infoHeading td {
    font-size: 14px;
}
.nameCap {
    line-height: initial;
    /*font-size: 110%;*/
    /*font-weight: bold;*/
    padding: 0.2em;
}

.team-info span {
    font-size: 16px;
    position: absolute;
    margin-left: -90px;
    margin-top: 105px;
    width: 90px;
    overflow: hidden;
    cursor: default;
    text-align: center;
    color: rgb(149, 164, 170);
}

/* TEAMS PREVIEW*/
.team-info {
    /*width: 100%;*/
    margin: auto 0;
    display: flex;
    position: absolute;
    color: rgb(242, 244, 246);
    font-size: 24px;
    font-weight: 400;
}

.team-info circle {
    stroke-width: 1px;
}
#atlantic {
    margin-top: 100px;
}
#metropolitan {
    margin-top: 230px;
}
#central {
    margin-top: 360px;
}
#pacific {
    margin-top: 490px;
}


.teamDiv {
    height: 100px;
    cursor: pointer;
}

#selectedBorder {
    width: 900px;
    height: 620px;
}
#selectedBorder rect {
    fill: none;
    stroke: #fff689;
    /*stroke: rgb(52, 36, 252);*/
}

/* TEAM DETAILED VIEW */
.selectedSvg{
    margin-left: 5px;
    /*    width: 40%;*/
    transition: all 0.5s ease;
    color: rgb(149, 164, 170);
}
#SvgHolder {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /*position: absolute;*/
    /*margin-top: 520px;*/
    transition: all 0.8s ease;
    /*border-top: 1px solid rgb(61, 75, 81);*/
    padding-top: 0px;
    /*width: 780px;*/
}

.teamDiv svg{
    margin-right: -15px;

}

#instruction {
    font-size: 16px;
    color: rgb(149, 164, 170);
    text-align: center;
}

#instruction.highlighted{
    color: #ffff7d;
    /*color: rgb(52, 36, 252);*/
    /*font-weight: 500;*/

}


.footer a{
    color: #3c7bca;
}

.text-muted{
    background: #3e3e3e;
    display: inline-block;
    padding: 5px;
    width: 100%;
    font-size: 12px;
}

#detail {
    display: flex;
    border-top: 1px solid rgb(61, 75, 81);
    justify-content: center;
}

/*LOGOS*/
.teamTitle {
    text-align: center;
}

#teamLogo {
    width: 100px;
    margin-top: 120px;
    opacity: .9;
    /* margin: 0 auto; */
}
#teamName {
    font-size: 32px;
    color: rgb(242, 244, 246);
}

/*HEADER FORMATTING*/
.filters{
    /*font-size: 16px;*/
    /*font-weight: normal;*/
    display: flex;
    align-items: center;
    height: 50%;
    z-index: 10000;
}

#filters {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}

#position-filter {
    /*font-size: 16px;*/
    /*font-weight: normal;*/
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.legend {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    height: 50%;
}

#legend{
    fill: rgb(149, 164, 170);
    margin-left: 20px;
}

.unselected{
    fill:#424343!important;
}

.draft{
    position: absolute;
    top: 80px;
    left: 15px;
    font-size: 10px;
    color: gray;
}

.round{
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 10px;
    color: gray;
}

.axis-info{
    border-left: 1px solid;
    border-top: 1px solid white;
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 8px;
    margin-left: 33px;
}

/*Help Tip*/
/*http://tutorialzine.com/2014/07/css-inline-help-tips/*/
.help-tip{
    position: absolute;
    right: 50px;
    text-align: center;
    background-color: rgb(149, 164, 170);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 20px;
    line-height: 26px;
    cursor: default;
    white-space: normal;
    z-index: 1000000;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color: rgb(40, 29, 205);
    opacity: 0.8;
}

.help-tip:hover div {
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip div{	/* The tooltip */
    display: none;
    text-align: left;
    /*background-color: #494949;*/
    padding: 10px;
    width: 350px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -5px;
    top: 35px;
    color: rgb(149, 164, 170);
    font-size: 16px;
    line-height: 1.4;
    background: #434343;
    border: 1px solid rgb(61, 75, 81);
    z-index: 100000;
}

.help-tip div:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color: #6c6c6c;
    right:10px;
    top:-12px;
}

.help-tip div:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

